{{outlet}}
<p>id: {{model.id}}</p>
<p>Name: {{model.name}}</p>
<p>Description: <br>{{{model.description}}}</p>
<p>Type: {{model.type}}</p>
<p>Sections:</p>
<ul>
  {{#each model.sections as |section|}}
    <li>
      {{section.label}}
      <ul>
        {{#each section.items as |item|}}
          <li>
            {{item.label}} | Type: {{item.type}}
            <ul>
              {{#each item.subitems as |item|}}
              <li>{{item.label}} | Type: {{item.type}}</li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
